body {
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    font-family: Arial;
}

/* COMMON */
/*text*/
.common-txt {
    font-size: 0.95em;
}

.smallest-txt {
    font-size: 0.70em;
}

.small-txt {
    font-size: 0.75em;
}

.bigger-text {
    font-size: 1.10em;
}

h1 {
    font-size: 3em;
    font-weight: 400;
}


/*margins*/
.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-40 {
    margin-bottom: 40px;
}

/*wrappers & overlays*/

.small-wrapper {
    max-width:80%;
    margin:0 auto;
}

.overlay {
    background-color: rgba(00, 00, 00, 0.2);
}

/* menu */
.menu {
    list-style-type: none;
}

.menu.hor li , .menu.hor {
    display: inline-block;
}

.menu.social-menu li {
    padding: 10px;
}

/* links */
a {
    text-decoration: none;
    color:inherit;
}

/*text-block alignment*/
.txt-right {
    text-align: right;
}

.txt-center {
    text-align: center;
}

.centered-block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)
}

/*HEADER*/

header .col_inner {
    padding: 20px 0;
}


/* top nav styling*/
header .top-nav li {
    text-transform: uppercase;
}
header .top-nav .main-menu  li{
    padding: 5px 10px;
}

header .top-nav .lang-menu  li{
    padding: 0 5px;
}

header .lang-menu li:not(:last-child) {
    border-right: 1px solid black;
}

/* jumbotron */
.jumbotron {
    height: 550px;
    position:relative;
    background-image: url("../img/hero-bg.jpg");
    background-size:cover;
    background-position: bottom left;
}

header .teaser {
    color: #fff;
}

header .teaser-text {
    font-size: 1.2em;
}


/*MAIN*/

/*products section*/

section.products .col_inner {
    padding: 25px 25px;

}

section.products  .col_content {
    background-color: #fafafa;
    padding: 40px 20px;
}

section.products  .col_content h2 {
    font-size: 1.75em;
}

section.products .col_content .learn-more a {
    color: #131aff;
}

section.products .col_content img {
    width: 100%;
    height:auto;
}

/* resizing img on tablet to keep 2 products per row avoiding images breaking columns*/
@media screen and ( min-width:768px ) and ( max-width: 991px ) {
    section.products .col_content img {
        display: inline-block;
        max-width: 275px;
    }    
}

/* how it works section*/

/*phone overlay */
.phone {
    height: 450px;
    background-image: url("../img/HelbizBanner.jpg");
    background-repeat: no-repeat;
    background-position: left center;
    background-size:cover;
}

.phone img {
    height: 600px;
    display: block;
    margin: 0 auto;
    position:relative;
    top: 200px;
}

section.how-it-works .col_inner {
    padding: 100px 0;
}


section.how-it-works .col_content.left {
    padding-right: 150px;
}

section.how-it-works .col_content.right  {
    padding-left: 150px;
}

@media screen and ( max-width: 767px ) {
    section.how-it-works .col_content.left {
        padding: 350px 0 0 0;
    }
    
    section.how-it-works .col_content.right  {
        padding-left: 0;
    }
    
    section.how-it-works .col_inner {
        padding: 0  20px;
    }
    
}

/* info section */

section.info {
    color:white;
}

section.info .col_inner {
    padding: 0 15px;
}

section.info .col_content {
    padding-top: 30px;
}

section.info .col_inner.get-app,
section.info .col_inner.find-us {
    padding-bottom: 30px;
}

/*smart-mobility col*/
section.info .col_bg.smart-mobility{
    background-image: url("../img/ScooterHelbiz-2400.jpg");
    background-size: cover;
}

section.info .col_content.smart-mobility {
    padding: 75px;
}

section.info .col_content.smart-mobility h2 {
    font-size: 2.80em;
    font-weight: 400;
}

/*get-app col*/

section.info .col_bg.get-app {
    background-image: linear-gradient(to bottom,#41566a,#252f38)
}

section.info .col_inner.get-app {
    padding-right: 15px;
}

section.info .col_content.get-app {
    overflow:hidden;
    height: 350px;
}


section.info .col_content.get-app img {
    width: 100%;
}


/* find-us col*/
section.info .col_inner.find-us {
    padding-left: 15px;
}

section.info .col_bg.find-us {
    background-image: url("../img/cities-1500.jpg");
    background-size: cover;
}

section.info .col_content.find-us {
    height: 350px;
}


/* removing overlay on lg-res*/

@media screen and ( min-width: 991px) {
    .overlay {
        background-color:rgba(00, 00, 00, 0.0)
    }
}


/* community section*/
section.community {
    background-image: url("../img/Social-Banner.jpg");
    background-size:cover;
    position:relative;
    height: 400px;
}

section.community h2 {
    font-size: 2em;
}

section.community .social.teaser {
    background-color: #fff;
    padding: 50px 100px;
}

section.community .menu .social-icon {
    font-size:1.4em;
}


/*FOOTER*/
footer {
    background-color: #000;
    padding: 50px 0;
    color: #fff;
}

footer h4 {
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 10px;
}

/*footer sitemap */
footer .sitemap .menu-link {
    color: #808080;
    font-size: 0.9em;
}

footer .menu li {
    padding:10px 0;
}


footer .sitemap .col_content {
    padding-bottom: 40px;
}

/*footer legal*/

footer .legal {
    border: 1px solid #808080;
    border-right:none;
    border-left:none;
}

footer .legal .col_content {
    padding: 20px 0;
}

footer .legal .small-txt {
  line-height: 38px;
}

/* changing .legal alignment on mobile and tablet*/

@media screen and ( max-width:991px ) {
    footer .legal  {
      text-align: center;
      }
}